

html, body {
    height: 100%;
}

/*sets background image, gets rid of space on edges of screen, uses flex for the sticky footer*/
body {
    background-image: url('../images/prism.png');
    margin: 0px;
    display: flex;
    flex-direction: column; 
}

.navbarColor {

    background-color: #1d1616;
    border-bottom: 2px solid #4aaaa5; 

}

.navTogglerColor{
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
}

a {
    color: #4aaaa5;
}

/*sets color, pushes content up, adds border, sets the height or thickness as percieved, makes the bar relative to window*/
header {
    background-color: #1d1616;
    padding-bottom: 10px;
    height: 50px;
    position: relative;
    z-index:0;
}

/*namebox is the box that adds a seperate color and allows for a border around the h1 tag where it is positioned, changed background to same image as actual page, it flows better*/
#nameBox {
    
    width:310px;
    height:45px;
    background-image: url('../images/prism.png');
    border-top: 2px solid #4aaaa5;
    border-left: 2px solid #4aaaa5;
    border-right: 2px solid #4aaaa5;
    position: absolute;
    bottom: -2px;
    left: 100;
    z-index: 1;
}

/*uses z-index to set infront of 'nameBox' positioned absolute so that is positioned with the header and so it can use z-index  --> replaced this by adding it inside the titleBox html*/
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
}


/* sets up font and colors for headers */
h2 {

    margin-left: 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.txtColor {
    color: #4aaaa5;
}

.formButton {
    width: 80px;
    height: 40px;
    margin-top: 15px;
    color: #4aaaa5;
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
}

/* ID used to position and style the profile picture in index.html */
#profilePic {
    margin-left: 10px;
    float: left;
    border: 2px solid #4aaaa5;
}

.mainText {
    color: #4aaaa5;
    margin-right: 10px;
    padding-left: 300px;
    padding-right: 10px;
    text-align: justify;
    text-indent: 30px;
}

/* style pertains specifically to the box in the center of the screen */
.contentArea {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    flex: 1 0 auto; 
    padding: 10px;
}

/* style pertains specifically to the content area of 960px within the header */
 .contentAreaHeader {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #1d1616;
    width: 960px;
    /* flex: 1 0 auto; */
}

/* used as a cool blue line between h2 and content */
.linedevider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 2px;
    background-color: #4aaaa5;
}


button {
    width: 100px;
    height: 30px;
    color: #4aaaa5;
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
}

.linkBox{
    width: 100px;
    height: 30px;
    color: #4aaaa5;
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    padding: 4px;
}

.card-body{
    border-top: 2px solid #4aaaa5;
}


.cardDress {
    background-image: url('../images/prism.png');
    border: 2px solid #4aaaa5;
    color: #4aaaa5;
}

/* everything below styles the footer */
footer {
    border-top: 8px solid #4aaaa5;
    background-color: #1d1616;
    height: 75px;
    flex-shrink: 0;
    margin-top: auto;
}

#footerText {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-weight: bold;
    width: max-content;
    height: 15px;
    color: #4aaaa5;
}
